<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <p>Insira um número</p>
        <form action="/example" method="POST">
            Numero: <input type="text" name="numero"><br>
            <br/>
           <button type="submit">Enviar</button>
           
           <% if(locals.textoEN){ %>
           <h1><%= textoEN %></h1>
           <h1><%= textoPT %></h1>
           <% } else{ %>  
            <h1>falha</h1>
          <% } %>
          </form>
    </body>
</html>