 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1154px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  font-size: 3.75rem;
  letter-spacing: 2px;
  background-image: none;
  font-family: "Chakra Petch";
  font-weight: 700;
  text-transform: none;
  width: 662px;
  margin: 155px auto 0;
}

.u-section-1 .u-form-1 {
  height: 184px;
  width: 772px;
  margin: 83px auto 60px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Chakra Petch";
  box-shadow: 0 0 7px 0 rgba(71,138,201,0.7);
  margin-bottom: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    border-style: none;
    padding: 15px 41px 15px 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 255px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 192px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}