body {
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

p {
    margin: 3px;
}

.main {
    margin-top: 5%;
}

.text-box {
    margin-top: 20px;
}